<div class = "sobreNosotrosTitulo">
    <h1>Sobre Nosotros:</h1>
</div>
<div class = "nosotros">
    <div class="noso">
        <h2>Marcos Mellebovsky</h2>
        <img src="/img/fotoMarcos.jpeg" alt="">
        <p>Marcos se encargo del c# y en el elegir los acertijos</p>
    </div>
    <div class="noso">
        <h2>Martin Eliezer Cygiel</h2>
        <img src="/img/fotoCygiel.jpeg" alt="">
        <p>Martin se encargo del html en la parte de decoracion y en las respuestas para cambiar de nivel</p>
    </div>
    <div class="noso" >
        <h2>Martin Ezequiel Raber</h2>
        <img src="/img/fotoTincho.jpeg" alt="">
        <p>Martin junto a marcos trabajo en el c# y en el elegir los acertijos</p>
    </div>
</div>
