
	<div class="container-elecciones">
		<h1>Elecciones 2023 en Argentina</h1>
		<p>Las elecciones presidenciales en Argentina se llevarán a cabo el domingo 22 de octubre del 2023. Este día, los ciudadanos argentinos elegirán al próximo presidente y vicepresidente de la nación, así como a los integrantes de la Cámara de Diputados y del Senado.</p>
		<p>Es importante recordar que el voto en Argentina es obligatorio para todos los ciudadanos mayores de 18 años, y que el sufragio es secreto y voluntario.</p>
		<a href="#" class="btn"><p>Más información</p> </a>
	</div>

